# pycharm
.idea

# python
.venv
venv
__pycache__

# allure
allure-results
allure-report

# study files
StudyFiles

# swagger-coverage-tool
coverage-history.json
coverage-report.json
coverage.html
coverage-results/

# ai helper context
.geminiignore
GEMINI.md

# android launch files
wheels
requirements-android.txt
