# pycharm
.idea

# python
venv
__pycache__

# allure
allure-results
allure-report

# study files
StudyFiles

# ai helper context
.geminiignore
GEMINI.md

# android launch files
wheels
requirements-android.txt
